<html>
<head>
  <title>Sample</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
</body>
<div id="wrapper">
  {{ test }}
  <script type="text/JavaScript">
  <!--
  var DWs = new Array('Sun.','Mon.','Tue.','Wed.','Thu.','Fri.','Sat.');
  var Now = new Date();
  var YY = Now.getYear();
  var MM = Now.getMonth() + 1;
  var DD = Now.getDate();
  var DW = DWs[ Now.getDay() ];
  var hh = Now.getHours();
  var mm = Now.getMinutes();
  var ss = Now.getSeconds();

  if(YY < 2000) { YY += 1900; }

  if(MM < 10) { MM = "0" + MM; }
  if(DD < 10) { DD = "0" + DD; }
  if(hh < 10) { hh = "0" + hh; }
  if(mm < 10) { mm = "0" + mm; }
  if(ss < 10) { ss = "0" + ss; }
  document.write('<p id="curtime">Current time: ' + YY + '.' + MM + '.' + DD + ' ' + DW + ' ' + hh + ':' + mm + ':' + ss + ' </p>');
  // -->
  </script>
  <div class="row0">
    <div class="col0" id="box0">0</div>
    <div class="col1" id="box1">1</div>
    <div class="col2" id="box2">2</div>
  </div>
  <div class="row1">
    <div class="col0" id="box3">3</div>
    <div class="col1" id="box4">4</div>
    <div class="col2" id="box5">5</div>
  </div>
  <div class="row2">
    <div class="col0" id="box6">6</div>
    <div class="col1" id="box7">7</div>
    <div class="col2" id="box8">8</div>
  </div>
</div>
</body>
</html>
